@CHARSET "UTF-8";
a:hover.booktable_list_title {
background: url(../images/booktable_title2.png) no-repeat;
}
a.booktable_list_title {
display: block;
background: url(../images/booktable_title.png) no-repeat;
width: 170px;
height: 40px;
line-height: 40px;
font-weight: bold;
text-decoration: none;
color: #fff;
text-align: center;
}
li.booktable_list {
float: left;
width: 170px;
text-align: center;
margin-right: 20px;
margin-left: 18px;
}